@red: #5eb95e;
@green: #dd514c;


body {
	font-family: 'Happy Monkey', cursive;
}

textarea, input { outline: none; }

header {
	min-height: 80px;
	text-align: center;
	border-bottom: 1px solid #eee;
	h1 {
		color: @red;
		span {
			color: @green;
		}
	}
	h3 {
		font-weight: 300;
		color: #ccc;
	}
}

.content section {
	padding: 1.3em;
	h3 {
		margin-bottom: 0;
		padding-bottom: 0.3em;
	}
	a {
		cursor: pointer;
	}
	a:hover {
		background: #fff;
		color: #000;
	}
}

.task-list {
	margin: 0px;
	padding: 0px;
	list-style: none;
	li {
		margin: 0.5em 0;
		padding-left: 0.5em;
		border-left: 3px solid @red;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	li:hover {
		background: @red;
		color: #fff;
	}
	// li:active {
	// 	margin-top: 1.0em;
	// }
	.done {
		border-left-color: @green;
		.task-content {
			text-decoration: line-through;
		}
	}
	.done:hover {
		background: @green;
	}

}


/* New Task Form*/
#new-task {
	width: 100%;
	margin: 0.5em 0;
}
